.container{
    border: 2px solid black;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 5px;
    padding: 5px; 
    height: 80vh;
}
.box{
    background-color: red;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    height: 10px;
    width: 50px;
}